:root,
:host {
  --qwk-cell-gap: 6px;
  --qwk-actions-gap: 8px;
  --qwk-actions-mt: 16px;
  --qwk-list-container-gap: 8px;
  --qwk-list-item-gap: 16px;
  --qwk-list-inset: 0;
  --qwk-list-background: #0f0d0d;
  --qwk-list-text-color: #dcdcdc;
  --qwk-list-border-radius: 6px;
  --qwk-list-margin: 20px;
  --qwk-list-padding: 20px;
  --qwk-list-max-width: 680px;
  --qwk-list-li-border: 2px dotted #adadad;
  --qwk-list-li-pb: 13px;
  --qwk-list-li-content-padding: 40px;

  --qwk-header-background: #000000;
}
.qwk-button, .qwk-input {
  background-color: rgb(77, 77, 77);
  color: white;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: var(--qwk-list-border-radius);
}
.qwk-input {
  width: 100%;
}

.qwk-list {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--qwk-list-text-color);
  border-radius: var(--qwk-list-border-radius);
  /* max-width: var(--qwk-list-max-width); */
  margin: var(--qwk-list-margin);
  padding: var(--qwk-list-padding);
  margin-inline: auto;
}

.qwk-list--ol,
.qwk-list--ul {
  display: flex;
  flex-direction: column;
  gap: var(--qwk-list-item-gap);
  padding-left: var(--qwk-list-inset);
  list-style-position: inside;
  margin-top: 0;
  margin-bottom: 0;
}

.qwk-list-marker-hidden {
  ::marker {
    content: none;
  }
  .qwk-list--li-content {
    margin-top: 0;
    padding-left: 0;
  }
}

.qwk-list--li {
  background: var(--qwk-list-background);
  padding: var(--qwk-list-li-pb);
  border-radius: var(--qwk-list-border-radius);
}

.qwk-list--field {
  display: flex;
  gap: var(--qwk-list-container-gap);
  width: 100%;
}

.qwk-list--li-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding-left: var(--qwk-list-li-content-padding);
  margin-top: -2.75%;
}

.qwk-list--header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background-color: var(--qwk-header-background);
  border-radius: var(--qwk-list-border-radius);
  margin-bottom: 8px;
  padding: var(--qwk-list-li-pb);
  gap: var(--qwk-cell-gap);
}

.qwk-list--header-column {
  text-align: left;
  width: 100%;
  border-right: 1px solid rgba(255,255,255,0.2);
  padding: var(--qwk-list-li-pb);
}
.qwk-list--header-column:last-of-type {
  border-right: none;;
}

.qwk-list--actions {
  display: flex;
  flex-direction: row;
  gap: var(--qwk-actions-gap);
  margin-top: var(--qwk-actions-mt);
}

#qwk-editable-form {
  display: flex;
  flex-direction: column;
  gap: var(--qwk-cell-gap);
}
.qwk-form-field-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  gap: var(--qwk-cell-gap);
}